*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

/*Header*/
header{
    display:flex;
    flex:0 1 auto;
    justify-content: space-between;
    align-items:center;
    background-image:linear-gradient(to bottom left,#0b6395,#196177);
    box-shadow:10px 0px 90px rgb(6, 50, 75);
}
.menu-line{
    display:none;
}
.menu-line{
    background-color:white;
    width:25px;
    height:3px;
    margin-top:4px;
}
.logo{
    margin-left:15px;
}
.logo__company-name{
    position:relative;
    top:-10px;
    left:5px;
    font-size:larger;
    color:rgb(243, 170, 61);
}

/*Links*/
.links-container{
    width:1000px;
    height:140px;
    margin:0px;
    padding:9px;
    display:flex;
    justify-content:right; 
    align-items:flex-end;
}

.links__a{
    text-decoration:none;
    font-weight:400;
    color:white;
    padding:10px 25px;
}
.links__a:hover{
    background-color:#114868;

}
.links__a[href="1Home.html"]{
    background-color:#56ee1a;
    color:#191f0f;
    font-weight:600;
    text-shadow:none;
}
.links__a[href="1Home.html"]:hover{
    background-color:#a1fa7e;
}

/*User logo*/
.user-logo-container{
    display:none;
    width:100px;
    height:auto;
    justify-content:left;
    align-items:center;    
}
.user-logo-container-disp{
    width:100px;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;    
}
.user-logo{
    background-color:rgb(109, 130, 168);
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:100%;    
}
.user-logo:hover{
    background-color:rgb(84, 140, 243);  
}

/*body*/
body{
    background-color:antiquewhite;
}
.background{
    display:flex;
    height:450px;
    justify-content:center;
    align-items:center;
    background-image:url("src_pictures/historical_monument.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    text-align:center;
    text-transform:capitalize;
    font-size:60px;
}
.background__h1{
    font-size:50px;
    text-shadow: 6px 2px 10px black;
    color:rgb(255, 255, 255);
    font-weight:bold;
}
.background__h1:hover{
    letter-spacing:1px;
}
.form{
    position:relative;
    top:-1.56rem;
    background-color:transparent;
    display:flex;
    justify-content:center;
}
.input{
 padding:0.625rem;
 border:1px solid black;
 border-radius:5px;
 background-color:#0b6395;
 display:grid;
 grid-template-columns: 0.1fr 1fr 0.1fr 1fr 0.5fr;
 width:fit-content;
 column-gap:0.625rem;
}
#input__destination{
    padding:0.5rem;
    border:1px solid black;
}
#input__departure{
    padding:0.5rem;
    border:1px solid ;
}
.input__lable1{
    width:75px;
    display:flex;
    align-items:center;
    color:aliceblue;
    font-size:17px;
}
.input__lable2{
    width:110px;
    display:flex;
    align-items:center;
    margin-left:15px;
    color:aliceblue;
    font-size:17px;
}
.input__button{
    border:1px solid #021920;
    box-shadow:5px 2px 0.8 #131718;
    background-color:#56ee1a;
}
.input__button:hover{
    background-color:#68cc40;
}
.tours-container{
    background-color:antiquewhite;
}
#tours-container__h1{
    margin-bottom:70px;
    margin-left:20px;
}
.pads-container{
    display:flex;
    overflow-x:auto;
    scroll-behavior: smooth;
    padding:25px 10vh; 
}
.pads-container::-webkit-scrollbar{
    display:none;
}
.pads{
    display:grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: 250px 70px 130px;
    box-shadow:0px 1px 10px rgb(99, 97, 97);
    background-color: rgb(255, 248, 248);
    flex: 0 0 300px;
    width: 250px;
    height: 450px;
    margin-right: 40px;
    overflow-x:hidden; 
    border-radius: 8px;   
}
.pads__image{
    overflow: hidden;
    width:300px;
    height:250px;
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end:3;
}
.pads__package{
    display:flex;
    align-items:center;
    padding-left:10px;
    grid-row-start:2;
    grid-column-start:1;
    grid-column-end:3;
    font-size:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity:0.8;
}
.pads__package__img{
    width:15px;
    height:15px;
}
.pads__description{
    padding-left:10px;
    grid-column-start:1;
    grid-row-start:3;
    margin-bottom:0.625rem;
    font-size:20px;
    opacity:0.8;
}
.pads__seemore-container{
    display:flex;
    align-items:center;
    justify-content:center;
}
.seemore-tab{
    display:flex;
    align-items:center;
    justify-content:center;
    grid-row-start:3;
    grid-column-start:2;
    text-decoration:none;
    padding:5px;
    background-color: #56ee1a;
    box-shadow:0 0 3px 1px rgb(8, 146, 116);
    width:55px;
    height:fit-content;
}
.seemore-tab:hover{
    background-color:#68cc40;
    box-shadow:0 0 3px 1px rgb(15, 134, 11);
}
#seemore-tab__link{
    text-decoration:none;
    line-height:0.7;
    color:rgb(58, 52, 52);
    font-weight:bolder;
    font-family:'Times New Roman', Times, serif;
    padding:3px;
}
.pads__save{
    display:flex;
    justify-content:end;
    height:30px;
    opacity:0.5;
    grid-column-start:2;
    grid-row-start:1;
}
.division{
    width:15vh;
    height:500px;
    position:absolute;
    top:750px;
    border:none;

}
.left-btn{
    left:0;
    background: linear-gradient(90deg,antiquewhite 70%, rgba(255, 255, 255, 0));
}
.right-btn{
    right:0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, antiquewhite 70%);
}
.whyus-section{
    display:flex;
    justify-content:center;
    margin-top:100px;
}
.whyus{
    background-color:rgb(250, 212, 162);
    box-shadow:0px 2px 10px rgb(80, 68, 52);
    padding:60px;
    width:938px;
    margin-bottom:70px;
}
.whyus__h1{
    margin-bottom:40px;
    font-size: 30px;
}
.whyus__ulist{
    line-height:30px;
    font-size:20px;
    list-style-image:url("src_pictures/star-solid.svg")
}

/*footer*/
.footer{
    display:flex;
    justify-content:right;
    padding:50px;
    padding-right:170px;
    background-color:#0b6395;

}
.table__header{
    height:80px;
    width:300px;
}
th,td{
    text-align:left;
}
th{
    font-size:20px;
}
.footer__table__links{
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-size:17px;
    font-weight:bolder;
}
.footer__bed{
    display:flex;
    justify-content:center;
    background-color:#0a3a55;
    width:100%;
    color:rgb(168, 167, 166);
}
 
/*Mobile S, Mobile M, Mobile L, and Tablet*/
@media all and (max-width:768px){
    body{
        overflow-x:hidden;
    }
    
    /*header part*/
    header{
        flex-direction:column;
        justify-content: center;
        width:100%;
    }
    .menu-container{
        display:flex;
        justify-content:center;
        align-items:center;
        margin:0px 10px;
    }
    .menu{
        /*position:absolute;*/
        left:15px;
        top:20px;
    }
    .menu-line{
        display:block;
    }
    .logo-division{
        margin-left:10px;
    }

    .logo__image{
        width:50px;
        height:50px;
    }
    .logo__company-name{
        display:block;
        margin-top:10px;
        width:100%;
        font-size:13px;
    }
    .logo{
        display:grid;
        grid-template-columns:15% 30% 55%;
        width:100%;
        margin-top:10px;
        margin-left:0px;
    }
    .links-container{
        display:none;
        width:100%;
        padding:0px;
        margin-bottom:15px;
    }
    .active{
        display:block;
    }
    .links{
        width:100%;
        background-color: #0a3a55;
    }
    .links__a{
        display:block;
        border-top:1px solid rgb(34, 31, 31);
    }
    .links__a:hover{
        background-color:#052c42;
    }
    .user-logo-container{
        display:flex;
    }
    .user-logo{
        position:absolute;
        right:20px;
        top:20px;
        width:30px;
        height:30px;
    }
    .user-logo__img{
        width:24px;
        height:24px;
    }

    /*Body*/
    .input{
        display:flex;
        flex-direction:column;
        width:100%;
        align-items:center;
        border:none;
    }
    #input__destination{
        margin-bottom:10px;
        width:100%;
    }
    #input__departure{
        margin-bottom:20px;
        width:100%;
    }
    .input__button{
        width:70px;
        padding:10px 15px;
    }
    .background{
        font-size: 30px;
    }
    .background__h1{
        font-size:35px;
    }
    #tours-container__h1{
        font-size: 20px;
        margin:0px 0px 20px 10px;
    }
    .buttons{
        display:none;
    }
    .pads-container{
        width:100%;
        padding:25px 15px;
    }
    .pads{
        grid-template-columns:140px 80px;
        grid-template-rows:165px 50px 110px;
        width:220px;
        height:325px;
        flex:none;
        margin-right:20px;
    }
    .pads__image{
        width:220px;
        height:165px;
    }
    .pads__package{
        font-size:13px;
        height:50px;
    }
    .pads__package__img{
        width:13px;
        height:13px;
        margin-right:4px;
        margin-left:4px;
    }
    .pads__description{
        font-size:14px;
    }
    #seemore-tab__link{
        font-size:12px;
    }
    .whyus-section{
        margin-top:20px;
        width:100%;
    }
    .whyus{
        padding:20px 10px 20px 20px;
    }
    .whyus__h1{
        font-size:27px;
    }
    .whyus__ulist{
        font-size:16px;
    }

    /*footer*/
    .footer{
        padding:50px;
    }
    .footer__bed{
        font-size:14px;
    }
    .footer__table__links{
        font-size:15px;
    }
    .table__header{
        font-size:17px;
    }
}

/*Laptop S,Laptop L*/
@media all and (min-width:769px){
    .logo__company-name{
        display:inline-block;
        margin-top:10px;
    }
}
